/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/* * {
  outline: 1px solid red;
} */

.page {
  position: relative;
  width: 100%;
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-weight: var(--main-text-font-weight, 400);
  font-size: 18px;
  background-image: var(--main-background);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--main-font-variable), Arial, Helvetica, sans-serif;
    font-variation-settings: 'wght' var(--main-text-font-weight, 400);
  }
}

.content {
  width: min(700px, 80%);
  margin-inline: auto;
}

.uppercase {
  text-transform: uppercase;
}

.lovercase {
  text-transform: lowercase;
}

.header {
  padding-block: 100px;
}

.header__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid currentColor;
  padding-block: 128px;
  font-family: var(--accent-font), Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: var(--main-background-color, #fff);
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.main {
  padding-block-end: 100px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-block-end: 50px;
}

.card {
  border: 2px solid currentColor;
  background-color: var(--main-background-color, #fff);
}

.card__title {
  border-block-end: 2px solid currentColor;
  padding: 5px 24px 5px 10px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--main-title-font-weight, 700);
}

.card__image-container {
  position: relative;
  overflow: hidden;
}

.card__image {
  display: block;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.camper {
  object-position: right 4% top 2px;
  scale: 1.015;
}

.road {
  object-position: center bottom;
  filter: blur(3px);
}

.first-victory {
  filter: contrast(120%);
}

.perfect {
  filter: saturate(200%);
}

.communication {
  filter: hue-rotate(200deg) saturate(150%) blur(2px);
}

.rock {
  filter: sepia(70%);
}

.boo {
  filter: grayscale(0.6);
}

.labyrinth {
  filter: brightness(70%);
}

.card__image-text {
  position: absolute;
  opacity: .5;
  font-family: var(--accent-font), Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-shadow:
    -1px 0 var(--image-text-stroke-color, #fff),
    0 1px var(--image-text-stroke-color, #fff),
    1px 0 var(--image-text-stroke-color, #fff),
    0 -1px var(--image-text-stroke-color, #fff);
  inset-inline-end: 25px;
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
}

@supports(-webkit-text-stroke: 1px #000000) {
  .card__image-text {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--image-text-stroke-color, #fff);
  }
}

.card__footer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-block-start: 2px solid currentColor;
  padding: 25px 25px 23px;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
}

.card__icon-button {
  position: relative;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color .3s ease;
}

.like-icon {
  display: block;
  width: 39px;
}

.core {
  fill: transparent;
  transition: fill .3s .03s;
}

.contour {
  fill: var(--heart-icon-contour-color, #000);
  transition: fill .1s;
}

.main-body {
  fill: transparent;
  transition: fill .3s;
}

.sparks {
  opacity: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color, #000);
}

.card__icon-button:hover .core {
  fill: var(--heart-icon-contour-color, #000);
  transition: fill .3s;
}

.card__icon-button:hover .main-body {
  fill: var(--heart-icon-contour-color, #000);
  transition: fill .3s .05s;
}

.card__icon-button:active .core {
  fill: var(--heart-icon-main-body-color, #ff0000);
  transition: fill .3s;
}

.card__icon-button:active .main-body {
  fill: var(--heart-icon-main-body-color, #ff0000);
  transition: fill .3s .05s;
}

.like-icon.is-liked .core {
  fill: var(--heart-icon-main-body-color, #ff0000);
}

.like-icon.is-liked .main-body {
  fill: var(--heart-icon-main-body-color, #ff0000);
}

.like-icon.is-liked .contour {
  fill: var(--heart-icon-main-body-color, #ff0000);
  transition: fill .3s .06s;
}

.like-icon.is-liked .sparks {
  animation: opacity .3s .3s ease-in;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale .3s .1s ease-in;
}

@keyframes scale {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.25;

  }
  100% {
    scale: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;

  }
  100% {
    opacity: 0;
  }
}

.button {
  position: relative;
  z-index: 0;
  border: 2px solid #000;
  overflow: hidden;
  font-family: var(--accent-font), Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: var(--main-background-color, #fff);
  transition: box-shadow .2s;
  cursor: pointer;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  display: block;
  background-color: var(--accent-color, #000);
  transition: transform .5s ease-in-out;
  transform: translateX(-100%);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color, #000);
}

.button:hover::before {
  transform: translateX(0);
}

.card__like-button {
  width: 130px;
  padding: 10px 0;
  line-height: .9;
}

.main__button {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-inline: auto;
  padding: 15px 21px 15px 19px;
}

.main__button-image {
  width: 21px;
  color: var(--button-text-color, #fff);
  mix-blend-mode: difference;
}

.button__text {
  color: var(--button-text-color, #fff);
  mix-blend-mode: difference;
}

.dialog[open] {
  display: grid;
  grid-template-columns: 39px 1fr;
  gap: 30px 20px;
  width: min(356px, 91%);
  margin: auto;
  border-width: 2px;
  padding: 28px 30px;
  font-family: var(--accent-font), Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.dialog::backdrop {
  opacity: .75;
  background-color: #000;
}

.page:has(.dialog[open]) {
  overflow: hidden;
}

.dialog__image {
  align-self: center;
}

.dialog__text {
  line-height: 1.5;
}

.dialog__button {
  grid-column: 1 / -1;
  padding-block: 10px;
}

@media (width < 600px) {
  .content {
    width: 100%;
  }

  .header__container {
    padding-block: 120px;
  }

  .card__image-text {
    inset-inline-end: 11px;
    inset-block-start: 23px;
  }

  .main__button {
    flex-direction: column;
  }

  .main__button-image {
    width: 28px;
  }

  .dialog[open] {
    padding-inline: 40px;
  }
}

@media (width < 375px) {
  .header__logo {
    font-size: 45px;
  }

  .card__footer{
    padding-inline: 15px;
  }

  .main__button {
    font-size: 13px;
  }
}